aenum==2.2.6
asteval==0.9.21
backoff==1.10.0
Brotli==1.0.9
cachetools==4.2.0
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
configparser==5.0.1
dash==1.18.1
dash-core-components==1.14.1
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.1
DateTime==4.3
deprecation==2.1.0
Flask==1.1.2
Flask-Compress==1.8.0
funcsigs==1.0.2
future==0.18.2
gs-quant==0.8.229.1
idna==2.10
inflection==0.5.1
itsdangerous==1.1.0
Jinja2==2.11.2
lmfit==1.0.1
MarkupSafe==1.1.1
more-itertools==8.6.0
msgpack==1.0.1
nest-asyncio==1.4.3
numpy==1.19.4
packaging==20.8
pandas==1.0.5
patsy==0.5.1
plotly==4.14.1
pydash==4.9.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
requests==2.25.0
retrying==1.3.3
scipy==1.5.4
six==1.15.0
statsmodels==0.12.1
tqdm==4.54.1
uncertainties==3.1.5
urllib3==1.26.2
websockets==8.1
Werkzeug==1.0.1
zope.interface==5.2.0
